*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #24053e;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem; }

.heading-lg, .heading-md, .heading-sm {
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: #24053e; }

.heading-lg {
  font-size: 8rem;
  line-height: 1; }

.heading-md {
  font-size: 5.6rem;
  line-height: 6.4rem; }

.heading-sm {
  font-size: 3.2rem;
  line-height: 4rem; }
