*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #24053e;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  background-color: #24053e; }

.heading-lg, .heading-md, .heading-sm {
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: #24053e; }

.heading-lg {
  font-size: 8rem;
  line-height: 1; }

.heading-md {
  font-size: 5.6rem;
  line-height: 6.4rem; }

.heading-sm {
  font-size: 3.2rem;
  line-height: 4rem; }

.btn-primary {
  background-color: #44ffa1;
  color: #24053e;
  padding: 1.3rem 2.5rem 1.6rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  border: 2px solid #44ffa1;
  cursor: pointer;
  transition: all 0.3s; }
  .btn-primary:hover {
    background-color: #24053e;
    color: #44ffa1; }

.btn-secondary {
  background-color: transparent;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  border: none;
  border-bottom: 3px solid #44ffa1;
  cursor: pointer;
  transition: all 0.3s; }
  .btn-secondary:hover {
    background-color: #24053e;
    color: #44ffa1; }
