*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #24053e;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem; }

.heading-lg, .heading-md, .heading-sm {
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: #24053e; }

.heading-lg {
  font-size: 8rem;
  line-height: 1; }

.heading-md {
  font-size: 5.6rem;
  line-height: 6.4rem; }

.heading-sm {
  font-size: 3.2rem;
  line-height: 4rem; }

.u-text-white {
  color: #fff; }

.u-text-underlined {
  border: none;
  border-bottom: 3px solid #44ffa1; }

.btn-primary {
  background-color: #44ffa1;
  color: #24053e;
  padding: 1.3rem 2.5rem 1.6rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  border: 2px solid #44ffa1;
  cursor: pointer;
  transition: all 0.3s; }
  .btn-primary:hover {
    background-color: #24053e;
    color: #44ffa1; }

.btn-secondary {
  background-color: transparent;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  border: none;
  border-bottom: 3px solid #44ffa1;
  cursor: pointer;
  transition: all 0.3s; }
  .btn-secondary:hover {
    color: #44ffa1; }

.features {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  height: 96rem;
  background-image: linear-gradient(#fcf8ff, #fcf8ff);
  clip-path: circle(2500px at 50% -242%);
  z-index: 20; }

.header {
  position: relative;
  width: 100%;
  max-width: 144rem;
  height: 73rem;
  margin: 0 auto;
  padding: 5.8rem 16.5rem 0;
  background-image: linear-gradient(#24053e, #24053e);
  clip-path: circle(2500px at 50% -242%);
  z-index: 30; }
  .header__logo-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.2rem; }
  .header__hero {
    text-align: center;
    padding: 0 23.75rem; }
    .header__hero h1 {
      margin-bottom: 3.7rem; }
  .header__deco--1 {
    position: absolute;
    top: 11.6rem;
    left: -13.8rem; }
  .header__deco--2 {
    position: absolute;
    top: 31.4rem;
    right: -4.8rem; }
  .header__img {
    position: absolute;
    width: 76.7rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16.5rem;
    z-index: 50; }
