$color-primary: #24053e;
$color-primary-light: #584d62;
$color-secondary: #44ffa1;
$color-ghost-white: #fcf8ff;
$color-white: #fff;
$font-primary: "Manrope", sans-serif;
$font-display: "Fraunces", serif;

// RESPONSIVE BREAKPOINTS:
$bp-tablet: 81.25em;      // max-width: 1300px