.cta {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  height: 81.8rem;
  padding: 11rem 16.5rem 6rem;

  @media only screen and (max-width: $bp-tablet) {
    height: 70.6rem;
    padding: 10rem 5.14% 8rem;
  }

  &__container {
    position: relative;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 47.7rem;
    z-index: 40;

    @media only screen and (max-width: $bp-tablet) {
      width: 36.59%;
      max-width: 44.3rem;
    }
  }

  &__offer {
    position: absolute;
    right: 0;
    top: 17.3rem;
    height: 41.3rem;
    width: 73rem;
    z-index: 50;
    padding: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    background-image: linear-gradient($color-primary, $color-primary);

    @media only screen and (max-width: $bp-tablet) {
      top: 15rem;
      height: 37.5rem;
      width: 76.5%;
      max-width: 67.8rem;
      padding: 4.8rem 5.6rem 5.6rem;
    }
  }

  &__heading,
  &__text {
    color: $color-white;
  }

  &__btn {
    display: inline-block;
  }

  &__deco {
    position: absolute;
    bottom: -6.2rem;
    right: 7.3rem;
    z-index: 60;
    width: 17.3rem;

    @media only screen and (max-width: $bp-tablet) {
      bottom: -10.57rem;
      right: 1.27rem;
    }
  }
}