.features {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  height: 96rem;
  background-image: linear-gradient($color-ghost-white, $color-ghost-white);
  clip-path: circle(2500px at 50% -242%);
  z-index: 20;
}