.header {
  position: relative;
  width: 100%;
  max-width: 144rem;
  height: 73rem;
  margin: 0 auto;
  padding: 5.8rem 16.5rem 0;
  background-image: linear-gradient($color-primary, $color-primary);
  clip-path: circle(2500px at 50% -242%);
  z-index: 30;
  overflow: hidden;

  @media only screen and (max-width: $bp-tablet) {
    height: 54rem;
    padding: 3.2rem 5.2% 0;
    clip-path: circle(1850px at 50% -242%);
  }

  @media only screen and (max-width: $bp-phone) {
    height: 48.2rem;
    padding: 3.2rem 4.25% 0;
    clip-path: circle(1640px at 50% -242%);
  }

  &__logo-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.2rem;

    @media only screen and (max-width: $bp-tablet) {
      margin-bottom: 5.6rem;
    }

    @media only screen and (max-width: $bp-phone) {
      margin-bottom: 6.4rem;
    }
  }

  &__hero {
    text-align: center;
    padding: 0 23.75rem;

    @media only screen and (max-width: $bp-tablet) {
      padding: 0 20%;
    }

    @media only screen and (max-width: $bp-phone) {
      padding: 0 4.5%;
    }

    h1 {
      margin-bottom: 3.7rem;

      @media only screen and (max-width: $bp-tablet) {
        margin-bottom: 3.9rem;
      }
    }
  }

  &__deco {
    &--1 {
      position: absolute;
      top: 11.6rem;
      left: -13.8rem;

      @media only screen and (max-width: $bp-tablet) {
        height: 21.5rem;
        top: 7.1rem;
        left: -14.8rem;
      }

      @media only screen and (max-width: $bp-phone) {
        display: none;
      }
    }

    &--2 {
      position: absolute;
      top: 31.4rem;
      right: -4.8rem;

      @media only screen and (max-width: $bp-tablet) {
        width: 14.17rem;
        top: 25rem;
        right: -9.36rem;
      }

      @media only screen and (max-width: $bp-phone) {
        display: none;
      }
    }
  }

  &__img {
    position: absolute;
    width: 76.7rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16.5rem;
    z-index: 50;

    @media only screen and (max-width: $bp-tablet) {
      width: 66.9%;
      max-width: 55rem;
      bottom: -14.78rem;
    }

    @media only screen and (max-width: $bp-phone) {
      width: 89.3%;
      max-width: 34rem;
      bottom: -9.13rem;
    }
  }
}