.btn-secondary {
  background-color: transparent;
  color: $color-white;
  font-family: $font-primary;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  border: none;
  border-bottom: 3px solid $color-secondary;
  cursor: pointer;
  transition: all 0.3s;

  @media only screen and (max-width: $bp-tablet) {
    font-size: 1.6rem;
    letter-spacing: -0.16px;
  }

  &:hover {
    color: $color-secondary;
  }
}