.btn-primary {
  background-color: $color-secondary;
  text-decoration: none;
  color: $color-primary;
  padding: 1.3rem 2.5rem 1.6rem;
  font-family: $font-primary;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  border: 2px solid $color-secondary;
  cursor: pointer;
  transition: all 0.3s;

  @media only screen and (max-width: $bp-tablet) {
    font-size: 1.6rem;
    letter-spacing: -0.16px;
    padding: 1.15rem 2.35rem;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }
}