*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  color: $color-primary;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;

  background-color: $color-primary;
}